body {
    background-color: #E7E0D0;
}

.abouthero {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 173px;
    max-width: 1032px;
    margin: 0 auto;
    margin-bottom: 100px;

    img {
        filter: saturate(1);
        width: 300px;
    }


    h1 {

        font-size: 70px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 40px;
    }

    div {
        width: 700px;
        margin: 0 auto;
        color: black;
    }
}

.main {
    background-color: #E7E0D0;
    color: black;
    padding-top: 1px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 150px;
    font-size: 30px;
}


.aboutlower {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: rgb(20, 20, 20);
    padding-top: 30px;
    text-align: center;

    img {
        height: 150px;

    }
}




.ornament::before {
    content: '';
    display: block;
    background: transparent url(../../public/top.svg) no-repeat;
    width: 715px;
    height: 90px;
    margin: 0 auto;
}

.ornament::after {
    content: '';
    display: block;
    background: transparent url(../../public/bottom.svg) no-repeat;
    width: 447px;
    height: 72px;
    margin: 0 auto;

}

.cvcta {

    background: transparent url(../../public/city.png) no-repeat center center;
    background-size: cover;
    height: 600px;

    &::before {
        content: "";
        background: linear-gradient(180deg, rgba(231, 224, 208, 1) 0%, rgba(231, 224, 208, 0) 100%);
        height: 100px;
        width: 100%;
        display: block;
    }



}