
.abouthero {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    max-width: 1032px;
    margin: 0 auto;
    margin-bottom: 100px;
   

    @media (max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: center;

    }


    img {
        filter: saturate(1);
        width: 300px;

        @media (max-width: 1000px) {
            position: relative;
            left: 182px;

        }
        @media (max-width: 740px) {
          
       
                display: flex;
                left: 0;
    
            
        }

     
    }
    @media (max-width: 740px) {
        .aboutContainer {
            display: flex;
            justify-content: center;
        }
    
    }
  

    h1 {

        font-size: 70px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 40px;
    }

    div {
        width: 700px;
        margin: 0 auto;
        color: black;
    }
}

.main {
    color: black;
    padding-top: 1px;
    margin: 0 auto;
    margin-bottom: 150px;
    font-size: 30px;
    display: flex;
    gap: 100px;
    align-items: center;
    padding-right: 20px;
    max-width: 1200px;

    @media (max-width: 900px) {
        gap: 0;
        padding: 0 50px;
    }

    img {
        width: 300px;
        height: 400px;

        transform: scaleX(-1);

        @media (max-width: 900px) {
            display: none;
        }
    }
}

// padding-left: 10px;


.aboutlower {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: rgb(20, 20, 20);
    padding-top: 30px;
    text-align: center;

    img {
        height: 150px;

    }
}




.ornament::before {
    content: '';
    display: block;
    background: transparent url(../../public/top.svg) no-repeat;
    width: 715px;
    height: 90px;
    margin: 0 auto;

    @media (max-width: 740px) {
        display: none;
    }
}

.ornament::after {
    content: '';
    display: block;
    background: transparent url(../../public/bottom.svg) no-repeat;
    width: 447px;
    height: 72px;
    margin: 0 auto;

    @media (max-width: 740px) {
        display: none;
    }

}

.cvcta {
    background: transparent url(../../public/city.png) no-repeat center center;
    background-size: cover;
    padding: 100px 0;

    a {
        position: relative;

        h3 {
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
            z-index: 1;
            top: 55px;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 420px;
            filter: saturate(0.4);
        }
    }
}

@media (max-width: 740px) {
    .cvcta {
        a {
            position: relative;
    
            h3 {
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                z-index: 1;
                top: 46px;
            }
    
            img {
                display: block;
                margin: 0 auto;
                width: 380px;
                filter: saturate(0.4);
            }
        }

    }
}
@media (max-width: 450px) {
    .cvcta {
        a {
            position: relative;
    
            h3 {
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                z-index: 1;
                top: 31px;
            }
    
            img {
                display: block;
                margin: 0 auto;
                width: 300px;
                filter: saturate(0.4);
            }
        }

    }
}