@font-face {
  font-family: "gokilnova";
  src: url(../public/GokilNova-jEJj0.ttf);
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
}

p {
  font-family: 'Special Elite', cursive;
  line-height: 2.5rem;

}

h1 {
  font-family: "gokilnova";
}

h2 {
  font-family: "gokilnova";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  display: none;
}